body{
    background:black;
    color: white;
}
header{
  
 min-height: 100px;
}
header .row img{
    width: 100px;
    transition: 9000ms;
}
header .row img:hover{
   transform: rotate(900deg);
}

header nav{
    margin-top: 20px;
    display: flex;
     align-items: center;
     text-align: center;
     justify-content: space-between;
     z-index: 99;
   }
   header nav a{
    text-decoration: none;
    color: white;
    padding: 5px 10px; 
    border-radius: 10px;
    /* border:0.5px solid white; */
    transition: 800ms;
   }
   header nav a:hover{
   transform: scale(1.3,1.3);
   /* color: black; */
    font-family: sans-serif;
    border:2px solid white;
    color: #d9d9d9;
   
   /* text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0,0,0,.5); */
   }
header .burger{
    display: none;
  }


footer{
    margin-top: 24px;
    /* border-top: white 2px solid ; */
  }
  footer .container{
    border: rgba(255, 255, 255, 0) 2px solid;
  }
  footer .container .box{
min-height: 150px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
  }
  footer .box img{
    width: 50px;
    transition: 800ms;
  }
  footer .box img:hover{
    transform: scale(1.3,1.3);
  }
  footer p{
    color: white;
    font-size: 20px;
    margin: 20px;
  }
@media (max-width:992px){
    /* header .row img{
        width: 130px;
    } */
}
@media (max-width:768px){
  header{
  
    min-height: 70px;
   }
    header .burger{
        display: block;
      } 
      header .row img{
        width: 50px;
      } 
      header nav{
        display: block;
        position: absolute;
        top: 72px;
        width: 70%;
        right: 10px;
        transform: translate(-200%,0);
        transform-origin: top left;
        transition: 1000ms;

      }
      header .nav_bar_inside{
        transform: translate(0,0);
      }

      header nav a{
        color: black;
        display:block;
        /* color: black; */
        background: rgba(255, 255, 255, 0.877);
        margin-bottom: 2px;
      }
      header nav a:hover{
        transform: scale(1.04,1.1);
        background: rgb(255, 255, 255);
        color: black;
        }
        /* footer{
          border-top: white 2px solid ;
        } */
        footer .container .box{
          min-height: 100px;
        
            }
          footer .box img{
            width: 30px;
            transition: 800ms;
          }
          footer .box img:hover{
            transform: scale(1.3,1.3);
          }
}